<!DOCTYPE HTML>
<html>
<head>
    <title>Сравни строки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<h2>Сравни строки</h2>
<form action="http://localhost:8081/requests/main"  method="post">
    <div>
        <label>Строка 1</label>
        <input type="text" name="str1" placeholder="example">
    </div>
    <div>
        <label>Строка 2</label>
        <input type="text" name="str2" placeholder="example">
    </div>
    <button >Сравнить</button>
</form>
<form action="http://localhost:8081/requests/res"  method="get">
    <button>Результат</button>
</form>
</body>
</html>