<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h2>Сравни строки</h2>
<form action="main"  method="post">
    <div>
        <label>Строка 1</label>
        <input type="text" name="str1" placeholder="example">
    </div>
    <div>
        <label>Строка 2</label>
        <input type="text" name="str2" placeholder="example">
    </div>
    <button>Submit</button>
</form>
</body>
</html>